{% assign analytics_endpoint = site.visitor_analytics.endpoint | default: "" %}
{% if analytics_endpoint != "" and page.analytics != false %}
<script>
  window.__VISITOR_ANALYTICS_CONFIG__ = {
    endpoint: {{ analytics_endpoint | jsonify }},
    heartbeatIntervalMs: {{ site.visitor_analytics.heartbeat_interval_ms | default: 15000 }},
    sessionTimeoutMs: {{ site.visitor_analytics.session_timeout_ms | default: 1800000 }},
    enabled: true
  };
</script>
<script src="{{ base_path }}/assets/js/visitor-analytics.js"></script>
{% endif %}
